@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
$mainfont: 'Karla', sans-serif;
$mainfontsize: 16px;

$clrwhite: white;
$clrlightgray: hsl(204, 43%, 93%);
$clrgrayishblue: hsl(218, 22%, 67%);
$clrcyan: hsl(179, 62%, 43%);
$clryellow: hsl(71, 73%, 54%);
$clrlightcyan: #4abebd;